<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
<body>
<form>
  <div class="form-group">
    <label for="text">Book Title</label>
    <input type="text" class="form-control" id="text" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="text">Author</label>
    <input type="text" class="form-control" id="text2" placeholder="Author">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>